.cardcontact {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 3rem auto 3rem auto;
  width: 40%;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.img {
  width: 50%;
  height: auto;
  margin: auto auto;
}
