.cardportfolio {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px 30px 0px;
    margin: 3rem auto 3rem auto; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

  
  .card-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  .text {
    justify-self: start;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  }