@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #A0A0A0 100%);
  width: auto;
}

.App-storytime {
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #FF06C8 0%, #010033 100%);
}

.header-image-container {
  width: 300px;
}

.header-image-container:hover {
  opacity: 0.8;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

@media (max-width: 1300px) {
  .grid-container {
      grid-template-columns: 1fr;
      margin-left: 6px;
      margin-right: 6px;
  }
}

@media (max-width: 800px) {
  .grid-container2 {
      grid-template-columns: 1fr;
      margin-left: 6px;
      margin-right: 6px;
  }

  .header-image-container{
      width: 100px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

