.about-image-container {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  flex-grow: 1; /* Allow the card to grow and occupy full height */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .about-image-container {
    width: 200px;
  }
  .about-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
