.button {
  font-family: "Quicksand", sans-serif;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: auto;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #0059b8;
}
