.cardportfolio {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 30px 30px 0px;
  margin: 3rem auto 3rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.card-content {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.img {
  width: 50%;
  height: auto;
  margin: auto auto;
}

@media (max-width: 800px) {
  .cardportfolio {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
}
