.card {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
  margin: 3rem auto 3rem auto;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.text {
  justify-self: start;
  overflow: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .text {
    min-height: 70px;
  }
}
